p On the market of IT infrastructure providers, companies thrive with a competent approach to product management. Like in other industries, it's crucial to continuously explore modern trends and enhance the quality of services.

p In this article, we focus on four stages of technical product management and formulate a universal algorithm. I elaborate on conducting research and finding a balance in the product below.

h2 Why Product Management Matters

p Regardless of whether a company sets strategic or short-term goals, the primary objective is profit. This holds true even if a company focuses on other metrics, such as acquiring new clients or increasing brand awareness, as these ultimately influence profitability. Therefore, conducting a thorough analysis of the product and its environment is essential to ensure stable growth and development year after year.

p Let's explore several reasons why companies find it crucial to manage products and how we approach it.

h3 Dynamic Market

p In the B2B market, clients are individuals developing their businesses. Their conditions and demands are constantly changing along with the demands of end-users. For instance, during the pandemic, the number of remote workers increased, and physical entertainments were replaced by online content.

p Companies urgently needed remote workplaces and resources for operations, leading to a sharp increase in demand for infrastructure solutions: servers, clouds, and storage. This is just one example of how everything can change in an instant.

h3 Competition

p Unless a business operates in a "blue ocean", it faces competition. Everyone aims to offer quality products to clients and stand out among other companies. Researching competitors helps companies improve their products to retain existing clients and attract new ones.

h3 Equipment Updates

p Several times a year, vendors release new server hardware, a characteristic feature of the IT industry. Often, they outperform previous generations in power and performance. Simultaneously, the requirements for business-utilized software increase.

p Thus, the interests of both sides align, and clients turn to us for new equipment. This approach is not unique to the IT world; innovations are present in many aspects of our lives.

h3 Subscription Model

p In the IaaS business, clients order providers' services every month, canceling existing ones. This is a normal process, provided that the number of new orders exceeds cancellations. This is the only way a business continues to grow. This model significantly differs from the transactional sales model, where a person makes a one-time purchase and only occasionally returns a product.

h2 How to Manage a Product

p HADI cycles are an excellent tool for testing ideas and making data-driven decisions. They help quickly test hypotheses and determine which ones work and which do not. This saves time and resources while increasing the efficiency of product development.

p First, we explore the market, assess the current situation, and formulate hypotheses. We conduct experiments to confirm or refute them. Based on the experiment results, we make changes to the product and evaluate the impact. We then revisit the market, continuing experiments for scaling or implementing new changes. Let's delve into each stage in more detail.

img(src="/img/blog/hadi-cycles.webp" alt="HADI cycle" style="width: 500px; box-shadow: none;")

h2 Step 1: Research

p Research is a crucial stage in the product management process. To achieve this, we need to study:

ul
    li Competitors
    li Customers
    li The product
    li The impact of changes

p Each of these points could be detailed in a separate article, so I'll share some useful practices I use in my work.

h3 Competitors

h4 Competitor Benchmarks

p One effective method of researching competitors is creating benchmarks. We choose criteria for comparison and fill in a table regarding our adversaries. For instance, compared to Company N, we provide helpful product guides, resulting in fewer customer support inquiries.

h4 Competitor Product Parsing

p The key characteristic of a product is its price. While tracking it among competitors can be done manually, automation through a parser can be highly beneficial, especially when dealing with a broad product range containing over 100 fixed configurations of dedicated servers.

p This approach allows for a comparison of prices for similar products between your offerings and those of competitors. With data logging (chronological structuring), you can monitor the introduction of new products to the market and changes in prices over time. Additionally, it provides insights into product availability if competitors share such information. This data can serve as a valuable source of knowledge for us.

h3 Customers

p To understand the needs of our customers, we employ both quantitative and qualitative research methods, such as the Jobs to be Done framework, surveys, and interviews. We then pose important questions to our existing or potential customers. Below are a few examples, but you can also formulate your own:

ul
    li How do you choose a product?
    li What features do you use in the product?
    li What else is important besides price?
    li What are you willing to compromise on?
    li What leads to canceling a subscription?

h3 Product

p In product management, there's a principle: a product that costs less should not be superior in features compared to one that costs more.

h2 Step 2: Conducting an Experiment

p So, you find yourself at a point where research indicates everything is in order. You've thoroughly studied competitors, customers, and the product and are ready for changes. What's next? Conduct an experiment!

h3 A/B Test

p I believe that A/B testing is one of the best ways to experimentally evaluate two variations of a product, for example, with changes and without. It has a clear design, but in the B2B segment, companies may find it nearly impossible to achieve statistical significance due to sample size. For instance, when a company has a small number of customers, A/B testing can stretch over years. Such a timeframe is hard to deem acceptable for a quick assessment of the effectiveness of changes.

h3 Quasi-Experiment

p If it's necessary to evaluate the effectiveness of product changes and A/B testing isn't suitable, we turn to a quasi-experiment. Here's how its design looks:

ol
    li Choose a product segment, for example, servers in the mid-range segment.
    li Assess the current state of the product. Determine if demand is growing, stagnant, or decreasing. Identify trends.
    li Model the desired outcome. Calculate where the product is currently and where it should be after the changes.
    li Calculate average metrics and standard deviations for the previous period: revenue, new orders, new customers, external factors (seasonality, world events, etc.).
    li Then determine confidence intervals, normalize to the trend, and calculate values of statistically significant results. The result of this stage is values that indicate changes were not random. If we stay within this boundary, external factors influenced the effect. If we surpass it, there is likely a specific change in the product.

p The main drawback of such a quasi-experiment is that we cannot completely eliminate the influence of external factors. As a result, there remains a probability that something secondary, beyond your changes, affected the product. This could be, for instance, market dynamics, seasonality, or competitors' behavior. However, in cases where conducting an A/B test is not feasible, a quasi-experiment is an objective tool for evaluating product changes.

p An important point: we introduce only one change to the product. Otherwise, it would be impossible to assess the contribution of each factor to the overall result. This situation often arises inadvertently. For example, if you simultaneously highlighted certain products at the top of the site's search results and offered customers a bonus for these same products for free. Sales increased, but pinpointing the specific cause becomes impossible.

h2 Step 3: Change Management

p After conducting a quasi-experiment, it becomes clear whether changes to the product impact the selected metrics and whether these changes are random or have no effect on the product at all.

p If the significance of the changes is confirmed, companies can scale the changes to all segments of the product. For example, if you conducted the experiment only on one customer group, and the changes proved successful, you can apply the solution to similar customer groups.

h2 Step 4: Effectiveness Assessment

p After scaling, several steps need to be taken:

ol
    li Document the changes in the knowledge base.
    li Continuously track these changes.
    li Regularly assess the effectiveness and long-term impact of these changes.

p Thus, at some point in time, you will return to the beginning of your cycle.

h2 Conclusion

p Product management is a crucial process for company growth. Today, it's challenging to envision it without hypotheses, research, and experiments. These tools assist companies in making the most effective decisions.

p Explore, experiment, alter your product, and assess the impact. Then, initiate the cycle anew and continue enhancing your products.